<div class="container">
    <mat-card>
        <mat-card-title>Reset Password</mat-card-title>

        <mat-card-content>
            <form [formGroup]="resetForm">

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email" required>

                    <mat-error *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
                        Please enter a valid email.
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" placeholder="Password" required>
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
                        Please enter a valid password.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input [type]="hidePassword1 ? 'password' : 'text'" matInput type="{{ hidePassword1 ? 'password' : 'text'}}" formControlName="confirmPassword" placeholder="Confirm Password" required>

                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility1()">
                        <mat-icon>{{ hidePassword1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched">
                        Please enter a valid password.
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid" (click)="onSubmit()">Reset</button>
            </form>
        </mat-card-content>

    </mat-card>
</div>